.Invoice {
display: flex;
height: calc(100vh - 100px);
  .Title {
    font-size: 16px;
    text-align: center;
  }

  .Left{
    width: 100%;
    padding: 24px;
  }

  .Right{
    height: 100%;
    padding: 24px;
    height: 100%;
    width: 500px;
    border-left: 1px solid #e5e5e5;
  }
}