.ImgCard {
  border: 1px solid #c7c7c7;
  height: 100px;
  width: 100px;
  background-color: #e5e5e5;
  border-radius: 4px;

  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  &:hover {
    border: 1px solid #979797;

    &>img {
      transition: all 150ms ease-in-out;
      transform: scale(1.3);
    }
  }
}